.popup-background {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
  
.popup {
    position: relative;
    margin: auto;
    height: 50%;
    margin-top: calc(8vh);
    background: #fff;
}

.body-popup {
    overflow: auto;
    height: auto;
}